<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDataBase" connectionString="Data Source=Test.db" providerName="System.Data.SQLite"/>
    <add name="TestDB" connectionString="Data Source=TestDB.s3db" providerName="System.Data.SQLite"/>
    <add name="TestDB_SQL" connectionString="Data Source=LAOS-DELL\SQLEXPRESS;Database=TESTDB;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>